<CascadingBlazoredModal>
    <BlazoredToasts Position="ToastPosition.TopRight" Timeout="5" />
    
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <Microsoft.AspNetCore.Components.RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>