<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ุณุณุชู ูุฏุฑุช ููุงูู ุชุฏุจุฑ</title>
    <base href="~/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="TadbirRuleEngine.Web.styles.css" rel="stylesheet" />
  @*   <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" /> *@
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            ุฎุทุง ุฑุฎ ุฏุงุฏู ุงุณุช. ููฺฉู ุงุณุช ุจุฑูุงูู ุฏฺฏุฑ ูพุงุณุฎฺฏู ูุจุงุดุฏ ุชุง ุฒูุงู ฺฉู ุตูุญู ุฑุง ุจุงุฑฺฏุฐุงุฑ ูุฌุฏุฏ ฺฉูุฏ.
        </environment>
        <environment include="Development">
            ฺฉ ุฎุทุง ูุฏุฑุช ูุดุฏู ุฑุฎ ุฏุงุฏู ุงุณุช. ุฌุฒุฆุงุช ุฑุง ุฏุฑ ุงุจุฒุงุฑ ุชูุณุนูโุฏููุฏู ูุฑูุฑฺฏุฑ ูุดุงูุฏู ฺฉูุฏ.
        </environment>
        <a href="" class="reload">ุจุงุฑฺฏุฐุงุฑ ูุฌุฏุฏ</a>
        <a class="dismiss">๐</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="_content/Blazored.Modal/blazored.modal.js"></script> *@
</body>
</html>